# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Virtual Environment
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.db
*.sqlite

# Secrets
.env
*.key
*.pem

# Others
*.bak
*.tmp
